.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  flex: 1;
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App-header {
  /* top: 0;
   position: sticky; */
  background-color: #282c34;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: calc(10px + 2vmin);
  color: rgb(248, 223, 223);
  box-shadow: 0px 4px 5px 0px grey;
  z-index: 100;
}
.App-header > div:nth-of-type(3){
  margin-left: auto;
}
.App-header > div:nth-of-type(2){
  margin-left: auto;
}

div.menuItemLogo {
  width: 50px;
  height: 50px;
  margin: 3px 30px;
  /* background-color: #326586; */
  /* padding: 2px 2px; */
  /* border: 1px solid red; */
  /* border: 2px solid #326586; */

  border-radius: 25px;
  /* box-shadow: 0 2px 6px 0 rgb(107, 73, 73), 0 2px 6px 0 #538ea1; */

  /* animation: rotation 2s infinite linear; */
}
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #fafafd;
  /* border: 3px solid red; */
}

.saiLogoDiv {
  width: 40px;
  height: 40px;
  /* margin: 5px 10px; */
  border-radius: 20px;
  /* border: 1px solid black; */
  background-image: url("sailogo.png");
  /* background-repeat: no-repeat, repeat; */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.saiLogoSmallDiv {
  display: inline;
  width: 20px;
  height: 20px;
  /* margin: 5px 10px; */
  border-radius: 10px;
  /* border: 1px solid black; */
  margin-right: 10px;
  /* background-repeat: no-repeat, repeat; */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.footer {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .9em;
  /* color: rgb(248, 223, 223); */
  color: grey;
}

.moduleSelector {
  /* position: sticky;
  top: 0px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* min-width: 400px; */
  /* width: 100%; */
  background-color: #fafafd;
  z-index: 100;
  /* flex: 1; */
  height: 70px;
  /* border: 1px solid black; */
  margin: 5px 0;
  /* opacity: 0; */
  /* opacity: .8; */
}
.moduleSelector1 {
  position: fixed;
  top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* min-width: 400px; */
  width: 95%;
  background-color: #282c34;
  box-shadow: 0px 4px 5px 0px grey;
  z-index: 100;
  height: 60px;
  margin: 5px 0;
  border-radius: 2px;
  /* visibility: visible; */
  opacity: 0.85;
  transition: top 1s, background-color 500ms ease-out 0s;
  -webkit-animation: expand 500ms;
}
@-webkit-keyframes expand{
  0%{height:0px}
  100%{height:60px}
}

.moduleSelector > button {
  margin: 0 30px;
}
.moduleSelector1 > button {
  margin: 0 30px;
}
.moduleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  /* min-width: 400px; */
  /* flex: 1; */
  /* min-width: 500px; */
  max-width: 70%;
  /* min-height: 40vh; */
  /* border: 3px solid red; */
  margin: 5px 0;
  padding: 5px 20px;
}
.message {
  color: red;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.moduleCard {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(173, 171, 171);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.moduleCardHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 225, 250);
  height: 40px;
  width: 100%;
  padding: 5px 0;
  color: rgb(124, 3, 3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.moduleCardData {
  flex: 1;
  width: 100%;
  padding: 5px 10px;
  /* border: 1px solid black; */
}

.moduleCardData > * {
  margin: 5px 0;
}
.childJustifyBetweeninRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.smallFont {
  font-size: .8rem;
}
.mediumFont {
  font-size: 1.2rem;
}
.red{
  color: red;
}
.blue{
  color: blue;
}
.btn1 {
  background-color: var(--bs-primary);
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 0.875rem;
  /* width: 100%; */
  padding: 0.25rem 0.5rem;
}
.btn1:focus {
  box-shadow: 0 0 4px rgb(70, 46, 109);
}
.btn1:hover {
  background-color: var(--bs-primary-dark);
}
